<!-- <div class="container">

  <div class="row">
    <div class="col-12">
      <h1 class="mt-4">Freelancers Control</h1>
    </div>
  </div>
  <div class="row" *ngIf="freelancers">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Freelancers Details</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search" #search (input)="filterFreelancer(search.value)">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>email</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let freelancer of filteredFreelancer">
                <td>{{freelancer._id}}</td>
                <td>{{freelancer.email}}</td>
                <td><span class="tag tag-success">{{freelancer.isActive ? 'active' :'deactive'}}</span></td>
                <td>
                  <div class="d-flex">
                    <button class="btn text-danger" (click)="onDeactiveFreelancer(freelancer._id)">
                      {{freelancer.isActive ? 'deactive' :'active'}}
                    </button>
                    <button class="btn text-success" (click)="onVerifyFreelancer(freelancer._id)">
                      {{freelancer.isVerify ? 'not-Verify' :'Verify'}}
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
