<div class="p-5" class="text-center" style="border-radius:5px 2px">
  <h3 mat-dialog-title>Update Category</h3>
  <div mat-dialog-content>
    <form #addForm="ngForm" class="text-center" style="width:100%">

      <div class="form-group row mb-2">
        <label for="name" class="col-md-4 col-form-label">Name</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="name" name="name" placeholder="Category Name (required)" required minlength="3" [(ngModel)]="category.name" [ngModelOptions]="{standalone: true}" #nameInput="ngModel" [ngClass]="{'is-invalid':(nameInput.touched || nameInput.dirty) && nameInput.invalid}">

          <span class="invalid-feedback">
            <span *ngIf="nameInput.errors?.['required']">Plaese Enter Category Name</span>
            <span *ngIf="nameInput.errors?.['minlength']">Category Name must be longer than 3 characters</span>

          </span>
        </div>
      </div>


      <!-- <div class="form-group row mb-2">
        <label for="name" class="col-md-4 col-form-label">Name In Arabic</label>
        <div class="col-md-8">
          <input type="text" class="form-control" dir="rtl" id="name" name="name" placeholder="أدخل أسم التصنيف باللغة العربية" required minlength="3" [(ngModel)]="category.titleAr" [ngModelOptions]="{standalone: true}" #nameAr="ngModel" [ngClass]="{'is-invalid':(nameAr.touched || nameAr.dirty) && nameAr.invalid}">

          <span class="invalid-feedback">
            <span *ngIf="nameAr.errors?.['required']">Plaese Enter Category Name</span>
            <span *ngIf="nameAr.errors?.['minlength']">Category Name must be longer than 3 characters</span>

          </span>
        </div> -->

      <!-- </div> -->


    </form>
  </div>
  <div mat-dialog-actions style="display: contents;margin-bottom:10px">
    <button class="btn btn-primary m-2" mat-button (click)="save()" [disabled]="nameInput.invalid">Save</button>
    <button class="btn btn-danger m-2" mat-button (click)="close()">Cancel</button>
  </div>

</div>
