<p>skills works!</p>
<div class="container"></div>

  <div class="row">
    <div class="col-12">
      <h1 class="mt-4">Skills Control</h1>
    </div>
  </div>
  <div class="row" *ngIf="skills">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Skills Details</h3>

          <div class="card-tools border border-dark">

            <button class="btn text-success" (click)="add()">
              Add New Skill
            </button>

          </div>
        </div>
      </div>
      <!-- /.card-header -->

      <div class="container py-2 pagination-container">

        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Category</th>
              <th>Modify</th>
              <th>Delete</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let skill of skills | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
              <td>{{i+1}}</td>
              <td>{{skill.name}}</td>
              <td>{{skill.category.name}}</td>
              <td>
                <button class="btn text-info" (click)="edit(skill)">
                  <i class="fa-solid fa-edit"></i>
                </button>
              </td>
              <td>
                <button class="btn text-danger" (click)="remove(skill._id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
