<div class="spinner-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-4">Clients Control</h1>
    </div>
  </div>
  <div class="row" *ngIf="!isLoading && clients.length > 0">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Clients Details</h3>
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search" #search (input)="filterClient(search.value)">
              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Projects Number</th>
                <th>Proposals Number</th>
                <th>Join Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of filteredClients">
                <td>{{client.firstName}}</td>
                <td>{{client.email}}</td>
                <td>{{client.projectsNumber}}</td>
                <td>{{client.proposalsNumber}}</td>
                <td>{{client.createdAt | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading && clients.length === 0">
    <div class="col-12">
      <div class="alert alert-info">
        No clients found.
      </div>
    </div>
  </div>
</div>